__pycache__
*.pyc
.venv
venv
.git
.gitignore
data/processed
data/test_processed
data/test_multichannel
data/BraTS
data/Pre-operative_TCGA_GBM_NIfTI_and_Segmentations
data/raw
data/external
checkpoints
node_modules
package.json
package-lock.json
*.md
!README.md
.idea
.vscode
